/*--------------------------------------------------------------
## Team
--------------------------------------------------------------*/
.xp-team {
  text-align: center;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.xp-team .team-info {
  background: #fff;
  padding: 28px 30px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.xp-team .team-info h6 {
  margin-bottom: 5px;
  font-weight: 600;
}
.xp-team .team-info span {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #C19977;
}
.xp-team .team-thumb {
  position: relative;
}
.xp-team h6 a:hover {
  color: #1a1b1e;
}
.fab {
  font-family: "fontawesome";
  font-style: normal;
}
/* team 2 */
.team-2 {
  position: relative;
}
.team-2 .team-info {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 40px);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 6px 6px 13px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 6px 6px 13px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 6px 6px 13px 0 rgba(0, 0, 0, 0.15);
}
.team-2 .team-info h6 {
  font-size: 24px;
}
.team-2 .team-info span {
  font-size: 14px;
}
.team-2:hover .team-info {
  bottom: 20px;
  opacity: 1;
  visibility: visible;
}